src/nethack
util/recover
util/makedefs
util/dlb
util/dgn_comp
util/lev_comp
util/tilemap

*/*.o
*/*/*.o

include/date.h
include/onames.h
include/pm.h
src/monstr.c
src/tile.c
include/dgn_comp.h
include/lev_comp.h
util/dgn_yacc.c
util/lev_yacc.c
util/dgn_lex.c
util/lev_lex.c

dat/*.tag
dat/nhdat
dat/data
dat/options
dat/oracles
dat/quest.dat
dat/rumors
dat/dungeon
dat/dungeon.pdf
dat/*.lev

*/*.d
*/*/*.d
